$checkbox-border-color: rgba(0, 0, 0, 0.54);

$checkbox-size: 1.3em;
$checkbox-margin: 1em 0;
$checkbox-padding: .2em;
$checkbox-border-width: 1px;
$checkbox-border-radius: 0.125em;
$checkbox-label-padding: .6em;

$checkmark-width: 0.13em;
$checkmark-color: #fff;

$line-width: 0.125em;
$line-color: #fff;